export(nl_audit)
export(nl_models)
export(nl_model_info)
export(nl_capabilities)
export(nl_data)
export(nl_start)
export(nl_multistart)
export(nl_global_start)
export(nl_fit)
export(nl_fit_many)
export(nl_select)
export(nl_compare)
export(nl_lrt)
export(nl_cv)
export(nl_confint)
export(nl_confregion)
export(nl_boot)
export(nl_predict)
export(nl_diagnose)
export(nl_influence)
export(nl_identify)
export(nl_curvature)
export(nl_contrast)
export(nl_curve_test)
export(nl_derive)
export(nl_robust)
export(nl_quantile)
export(nl_mixed)
export(nl_saemix)
export(nl_bayes)
export(nl_ppcheck)
export(nl_bayes_diagnose)
export(nl_bayes_compare)
export(nl_simulate)
export(nl_plot)
export(nl_plot_diagnostics)
export(nl_table)
export(nl_save_plot)
export(nl_report)
export(nl_teach)
export(nl_tutor)
export(nl_doctor)
export(nl_dynamic)
export(nl_ode_solve)
S3method(print,nlrfit)
S3method(summary,nlrfit)
S3method(coef,nlrfit)
S3method(predict,nlrfit)
S3method(fitted,nlrfit)
S3method(residuals,nlrfit)
export(nl_rtmb)
export(nl_ad)
export(nl_bayes_rtmb)
export(nl_bayes_approx)
export(nl_quantile_mixed)
export(nl_quantile_mixed_robust)
export(nl_conformal)
export(nl_conformal_group)
export(nl_measurement_error)
export(nl_mean_variance)
export(nl_censored)
export(nl_truncated)
export(nl_structural_identify)
export(nl_sensitivity)
export(nl_design)
export(nl_next_measurement)
export(nl_state_space)
export(nl_error_decompose)
export(nl_gp_discrepancy)
export(nl_surrogate)
export(nl_surrogate_validate)
export(nl_propagate)
export(nl_abc)
export(nl_symbolic)
export(nl_validate_candidate)
export(nl_discover)
export(nl_discriminate)
export(nl_sequential_discovery)
export(nl_sciml_available)
export(nl_sciml_info)
export(nl_sciml_setup)
export(nl_neural_ode)
export(nl_ude)
export(nl_pinn)
export(nl_missing_physics)
export(nl_ude_discover)
export(nl_sciml_diagnose)
export(nl_dynamic_design)
export(nl_control)
importFrom(stats,AIC,BIC,coef,fitted,nobs,predict,reorder,residuals,runif,weighted.mean)
importFrom(utils,capture.output,combn,head,tail)
importFrom(graphics,plot,plot.new,text,grid)
